/* Add these styles to your existing CSS file or create a new one */
body {
    font-family: Arial, sans-serif;

    background-image: linear-gradient(to right, #000000, #000000e4);

    margin: 0;
    padding: 0;
}

header {
    display: flex;
    background-color: #000000;
    color: #fff;
    text-align: center;
}

.text_header {
    display: flex;
    font-size: 24px;
    text-align: left; /* выравнивание текста по левому краю */
    margin-left: 76px;
}

.positionmainheader {
    margin-bottom: 20px;
}

selection{
    display: flex;
    justify-content: center; /* Center form horizontally */
    margin-top: 50px; /* Adjusted margin top */
}

form { margin-top: 10%; margin-left: 14%; background-color: #fff; padding: 20px; max-width: 400px; border-radius: 5px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); }

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%; /* Adjusted width */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box; /* Include padding in width calculation */
}

.dot{
    margin-top: 10px;
    width: 50px;
    height: 50px;
    margin-left: 80%;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 10px;
}

button:hover {
    background-color: #555;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1{
    color: rgb(255, 255, 255);
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.6px;
}

a{

    margin-bottom: 50px;
    margin-top: 30px;
    margin-left: 80%;
    color: #ffffff79;
    text-decoration: none; /* Убираем подчёркивание */
    display: inline-block;
    padding: 10px ;
    border: 2px solid #6e6e6e4e;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

a:hover {
    background-color: #8d8d8d59;
    color: #ffffff90;
    text-decoration: none;
}

.back-button{
    background-color: #8c8c8c;
    position: absolute;
    margin-bottom: 100px;
    margin-top: 10px;
    margin-left: 90%;
}