/* Общие стили */
body {
    font-family: 'Inter', Arial, sans-serif;
    background-image: linear-gradient(to right, #000000, #000000e4);
    margin: 0;
    padding: 0;
}

/* Стили для заголовка */
header {
    display: flex;
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.text_header {
    display: flex;
    font-size: 24px;
    align-items: center;
    margin-left: 76px;
}

/* Стили для основного контента */
section {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    width: 80%; /* Изменено на проценты для адаптивности */
    max-width: 600px; /* Добавлено максимальное значение для контроля ширины */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 50px; /* Уменьшено значение для лучшего расположения на странице */
}

/* Стили для текста */
h1{
    color: rgb(255, 255, 255);
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.6px;
}
.h1-text{
    color: rgb(255, 255, 255);
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.6px;
}

.p{
    color: rgb(255, 255, 255);
    font-family: Forum;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.6px;
}

/* Стили для кнопки */
button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 10px;
}

button:hover {
    background-color: #555;
}

/* Стили для ссылок */
a {

    margin-bottom: 50px;
    margin-top: 30px;
    margin-left: 80%;
    color: #10890a;
    text-decoration: none; /* Убираем подчёркивание */
    display: inline-block;
    padding: 10px ;
    border: 2px solid #1b7041;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

a:hover {
    background-color: #0b6118;
    color: #fff;
    text-decoration: none;
}
