<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Forum&family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/505.css">
    <title>Ошибка 505</title>
</head>
<body>
<header>
    <div class="text_header"><h1>TAXI BOOBER</h1> </div>
    <div class="positonmainheader"></div>
</header>
<section>
    <h2>Ошибка 505 -<br> Ну и ну кто-то все сломал</h2>
    <p>А мы этого не предосмотрели <br><br><a href="/mainPage"> На главную страницу</a></p>
</section>
</body>
</html>