<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Taxi Order Details</title>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=2825bec6-4b80-4c41-9440-b867231a8d27&lang=ru_RU" type="text/javascript"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet"  href="/accept.css">
</head>
<body>
<!-- Шапка -->
<div class="header">
    <div class="logo">TAXI BOOBER</div>
    <a class="back-button1" href="/mainPage">На главную</a>
</div>
<div th:if="${error}" class="error-message" th:text="${error}"></div>
<h1>Детали заказа №<span th:text="${order.id}"></span></h1>
<div class="order-details-container">
    <div class="order-details">
        <p>Номер заказа: <span th:text="${order.id}"></span></p>
        <p>Цена: <span th:text="${order.price}"></span></p>
        <p>Время заказа: <span th:text="${order.orderDate}"></span></p>
        <p>Заказчик: <span th:text="${sender}"></span></p>
        <p>Таксист: <span th:text="${recipient}"></span></p>
        <p>Статус: <span th:text="${status}"></span></p>
        <form method="post" th:action="@{/orderToTake}" th:object="${order}">
            <input type="hidden" name="orderId" th:value="${order.id}" />
            <button class="back-button" type="submit">Принять заказ</button>
        </form>

    </div>
    <div id="map" class="map"></div>
</div>

<!-- Скрытые поля для переменных, переданных из Thymeleaf -->
<input type="hidden" id="orderLatitude" th:value="${order.orderLatitude}" />
<input type="hidden" id="orderLongitude" th:value="${order.orderLongitude}" />
<input type="hidden" id="arrivalLatitude" th:value="${order.arrivalLatitude}" />
<input type="hidden" id="arrivalLongitude" th:value="${order.arrivalLongitude}" />

<script type="text/javascript">
    // Инициализация карты после загрузки страницы
    window.onload = function() {
        ymaps.ready(init);
    };

    function init() {
        var orderLatitude = parseFloat(document.getElementById('orderLatitude').value);
        var orderLongitude = parseFloat(document.getElementById('orderLongitude').value);
        var arrivalLatitude = parseFloat(document.getElementById('arrivalLatitude').value);
        var arrivalLongitude = parseFloat(document.getElementById('arrivalLongitude').value);

        var myMap = new ymaps.Map("map", {
            center: [orderLatitude, orderLongitude],
            zoom: 10
        });

        // Создание маршрута
        ymaps.route([
            [orderLatitude, orderLongitude],
            [arrivalLatitude, arrivalLongitude]
        ]).then(function(route) {
            myMap.geoObjects.add(route);
        });
    }
</script>
</body>
</html>